.wrap {
    display: flex;
    width: 80%;
    margin: 0auto;
    padding: 40px0;
    border-bottom: 1pxsolid#ccc;
  }
  .disWrap {
    width: 80%;
    margin: 0auto;
  }

  .img_item {
    flex: 200px00;
  }
  .img_itemimg {
    display: block;
  }

  .info_item {
    flex: 100;
  }

  .tit_item {
    display: block;
    font-size: 24px;
    margin-top: 20px;
  }

  .num_price {
    display: block;
    font-size: 34px;
    margin-top: 20px;
    color: #00bcd4;
  }

  .txt_info {
    display: block;
    font-size: 24px;
    margin: 20px040px;
  }